html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
}

#map {
    width: 80%;
    height: 80%;
}

.mapboxgl-popup {
    font-size: 13px;
    line-height: 1.3;
}

#details {
    color: white;
    position: absolute;
    bottom: 0;
}

#details p {
    width: 100%;
}

.hidden {
    display: none;
}